<!DOCTYPE html>
<html>
<head>
		  {% load static %}
	<meta charset="UTF-8">
	<title>Formulario Mis Perris</title>
	<link rel="stylesheet" href="{%static 'estilos.css' %} ">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="{%static 'js/Validar.js' %} "></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">

</head>
<body>
	<!-- Formulario -->

	<div class="container">
		<div class="row" >
			<div class="formulario col-xs-12">
				<form id="Formulario" method="post">
					  {% csrf_token%}
					Datos solicitados:<br><br><br>
					<!-- EMAIL -->
					Email:<br>
					<input type="email" name="email_usuario" id = "email-usuario" placeholder="example@email.com" required="debe llenar este campo"><br><br><br>
					<!-- RUN -->
					Run:<br>
					<input type="text" name="run_usuario" id="run-usuario" placeholder="12345678-9" maxlength="10" onkeypress="return SoloNumerok(event)" required="debe llenar este campo"><br><br><br>
					<!-- Nombre completo -->
					Nombre Completo:<br>
					<input type="text" name="nombre_usuario" id="nombre-usuario" placeholder="Nicolas Barros Ribeiro" onkeypress="return letras(event)" required="debe llenar este campo"><br><br><br>
					<!-- Telefono -->
					Teléfono de contacto:<br>
					<input type="text" name="fono_usuario" id="fono-usuario" placeholder="9 1234 5678" maxlength = "9" onkeypress="return SoloNumero(event)" required="debe llenar este campo"><br><br><br>
					<!-- Fecha de nacimiento (max se utiliza para restringir que se ingresen fechas que sean superioes a la colocadas entre las comillas)-->
					Fecha de nacimiento:<br>
					<input type="date" name="fechanac_usuario" id="fechanac-usuario" max="2001-01-01" required="debe llenar este campo"><br><br><br>
					<!-- Region -->
					Región:<br>
					<select id="regiones" name="regiones" style="color: white" required="debe llenar este campo"></select><br><br><br>
					<!-- Cuidad -->
					Comuna:<br>
					<select id="comunas" name="comunas" style="color: white" required="debe llenar este campo"></select><br><br><br>
					<!-- Tipo de vivienda -->
					Tipo de vivienda:<br>
					<select name="tipo_vivienda" style="color: white" required="debe llenar este campo">
						<option value="defaul">Seleccione tipo de viviendo</option>
						<option value="casa-con-patio-grande">Casa con patio grande</option>
						<option value="casa-con-patio-pequeño">Casa con patio pequeño</option>
						<option value="casa-sin-patio">Mercedes</option>
						<option value="departamento">Departamento</option>
					</select> <br><br><br>
					<!-- Botones -->
					<div class="Botones" >

						<div class="col-xs-12 .offset-xs-4 col-md-6">
							<input type="submit" value="Enviar" id="enviar" onclick="enviarValidar()">
						</div>
						<div class="col-xs-12 col-md-6">
							<input type="reset" value="Reset">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
