<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'stlog.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <form method="post" action="" class="cuadro">
    <form  class="cuadro"  method="post">
        {% csrf_token%}
      <div class="imgcontainer">
        <img src="{%static 'patita.png' %}" alt="#" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Nombre de usuario</b></label>
        <input type="text" placeholder="Nombre de usuario" name="uname" required>

        <label for="psw"><b>contraseña</b></label>
        <input type="password" placeholder="Contraseña" name="psw" required>
        <!-- Mensaje para el usuario -->
            {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit">Ingresar</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <a style="background-color: green; padding: 1vw; color:white" class="cancelarbtn" href="{% url 'Guau:index' %}">Volver</a>
        <a class="Crearbtn" style="background-color: blue; padding: 1vw;color:white;"href="{% url 'Guau:Registro' %}">Crear</a>
        <!-- <a style="background-color:  #1c68ff; padding: 1vw;color:white;" href="{% url 'social:begin' 'facebook' %}">Ingresa con Facebook</a> -->
        <a style="background-color:  red; padding: 1vw;color:white;" href="{% url 'social:begin' 'google-oauth2' %}">Ingresa con Google+</a>
        <span class="psw"><a href="{% url 'password_reset' %}">¡Olvidé mi contraseña!</a></span>
      </div>

    </form>

  </body>
</html>
