<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'stlog.css' %} ">
    <title></title>
  </head>
  <body>
      <form method="post">
        <div class="container">
          <div class="cuadro">
            <div class="row" >
              <div class="form-group col-xs-12">
                    <label for="Username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username">
              </div>
            </div>
            <div class="row" >
              <div class="form-group col-xs-12">
                    <label for="Username">Contraseña:</label>
                    <input class="form-control" type="password" name="password">
              </div>
            </div>
            <div class="row" >
              <div class="form-group col-xs-12">
                    <a href="#" font color="red">Olvidé mi contraseña</a>
                    <input class="btn btn-primary" type="submit" value="Ingresar">
              </div>
            </div>
          </div>
        </div>
      </form>
  </body>
</html>
