<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'stlog.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <form method="post" action="action_page.php" class="cuadro">
    <form  class="cuadro"  method="post">
        {% csrf_token%}
      <div class="imgcontainer">
        <img src="{%static 'patita.png' %}" alt="#" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Nombre de usuario</b></label>
        <input type="text" placeholder="Nombre de usuario" name="uname" required>

        <label for="psw"><b>contraseña</b></label>
        <input type="password" placeholder="Contraseña" name="psw" required>

        <button type="submit">Ingresar</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
       <button  type="button" class="cancelbtn"><a href="{% url 'index' %}">Volver</a></button>
        <button type="button" class="Crearbtn"><a href="{% url 'Registro' %}">Crear</a></button>
        <span class="psw"><a href="#">¿Olvidé mi contraseña?</a></span>
      </div>
    </form>
  </body>
</html>
