<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
     {% load static %}
     	<link rel="stylesheet" href="{% static 'EstiloUwu.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="">
        {% csrf_token%}
  <div class="container">
    <h1>Registro</h1>
    <hr>
    <label for="email_usuario"><b>Email</b></label>
    <input type="text" placeholder="Ingrese su correo electronico" name="email_usuario" required>

    <label for="run_usuario"><b>Run</b></label>
    <input type="text" placeholder="Ingrese su Run" name="run_usuario" required>

    <label for="nombre_usuario"><b>Nombre</b></label>
    <input type="text" placeholder="Ingrese su nombre " name="nombre_usuario" required>

    <label for="fechanac_usuario"><b>Fecha de nacimiento</b></label>
    <input type="date" placeholder="Ingrese su fecha de nacimiento" name="fechanac_usuario" required>

    <label for="contra"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese su contraseña" name="contra" required>
    <button type="submit" class="registerbtn">Registrarse</button>
    <div class="container signin">
      <p>¿Ya tiene una cuenta? <a href="{% url 'Guau:index' %}">Inciar sesion</a>.</p>
    </div>
  </div>
</form>

  </body>
</html>
