<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'gestionPerros.css' %} ">
    <title>Gestion Perris</title>
  </head>
  <body>
    <div class="container">
    <!-- Panel de registro de perris -->
    <!-- Mensaje para usuario -->
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<h1>Registro de clientes</h1><a href='/home'>Home</a>

      <div class="Registro">

        <form class="formulario" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="">Nombre de cliente</label>
            <input type="text" name="nombre_cliente"><br>

            <label for="">Direccion</label>
            <input name="direccion" type="text"/><br>

            <label for="">Ciudad</label>
            <input type="text" name="ciudad"><br>

            <label for="">Comuna</label>
            <input type="text" name="comunas" id="comunas">

            <label for="">Telefono</label>
            <input type="number" name="telefono" value="">

            <label for="">Correo electronico</label>
            <input type="text" name="correo" value="">
            </select><br>
            <div class="button"><br>
              <button type="submit" class="registerbtn">Registrar</button>
              <a href='/home/listar'>Lista</a>
            </div>
        </form>

      </div>

    </div>
  </body>
</html>
