<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'gestionPerros.css' %} ">
    <title>Gestion Perris</title>
  </head>
  <body>
    <div class="container">
    <!-- Panel de registro de perris -->
    <!-- Mensaje para usuario -->
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<h1>Registro de Perris</h1><a href='/home'>Home</a>

      <div class="Registro">

        <form class="formulario" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="">Nombre Perro</label>
            <input type="text" name="nombre_perro"><br>

            <label for="">Fotografia</label>
            <input name="foto" type="file"/><br>

            <label for="">Raza Predominante</label>
            <input type="text" name="raza_predominante"><br>

            <label for="">Descripción</label>
            <textarea name="descripcion" rows="3" cols="18"></textarea>

            <label for="">Estado</label>
            <select name="estado">
              <option value="R">Rescatado</option>
              <option value="D">Disponible</option>
              <option value="A">Adoptado</option>
            </select><br>
            <div class="button"><br>
              <button type="submit" class="registerbtn">Registrar</button>
              <a href='/home/listar'>Lista</a>
            </div>
        </form>

      </div>

    </div>
  </body>
</html>
